/* apply code frame
 *****************************************************************************/

/* edit mode */
.theme-light .cm-s-obsidian .HyperMD-codeblock-begin {
    border-radius: 4px;
    border-top:         2px #000000 solid;
}
.theme-light .cm-s-obsidian .HyperMD-codeblock-end {
    border-radius: 4px;
    border-bottom:      2px #000000 solid;
}
.theme-light .cm-s-obsidian div.HyperMD-codeblock-bg {
    border-left:        2px #000000 solid;
    border-right:       2px #000000 solid;
}

.theme-dark .cm-s-obsidian .HyperMD-codeblock-begin {
    border-radius: 4px;
    border-top:         2px #ffffff solid;
}
.theme-dark .cm-s-obsidian .HyperMD-codeblock-end {
    border-radius: 4px;
    border-bottom:      2px #ffffff solid;
}
.theme-dark .cm-s-obsidian div.HyperMD-codeblock-bg {
    border-left:        2px #ffffff solid;
    border-right:       2px #ffffff solid;
}

/* preview mode */
.theme-light :not(pre) > code[class*="language-"],
.theme-light pre[class*="language-"] {
    border:             2px #000000 solid;
}
.theme-dark :not(pre) > code[class*="language-"],
.theme-dark pre[class*="language-"] {
    border:             2px #ffffff solid;
}